body {
  background-image: url(/images/light_grey.png);
}

label {
  font-size: 1.2em !important;
}

.collection {
  background-color: white;
}

.container {
  padding-top: 30px;
}

#dash-title {
  padding-bottom: 30px;
}

#task_title {
  font-size: 1.2em;
}

#textarea1 {
  font-size: 1.2em;
}
