

<h4 class="center-align deep-purple-text lighten-2">Welcome to the Task Manager</h4>

<div class="center-align">
  <img id="river" class="responsive-img" src="/images/illustration8.4.jpg">
</div>

<div class="center-align">
<a href="/tasks" class="waves-effect waves-light btn"><i class="material-icons left">view_list</i>Task Index</a>
<a href="/tasks/new" class="waves-effect waves-light btn"><i class="material-icons left">queue</i>New Task</a>
</div>
