<nav>
  <div class="nav-wrapper teal">
    <a href="/" class="brand-logo right">Task Manager</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
     <li><a href="/tasks"><i class="material-icons">view_list</i></a></li>
     <li><a href="/tasks/new"><i class="material-icons">queue</i></a></li>
    </ul>
  </div>
</nav>
