<form action="/tasks" method="post">
  <h1>Enter a new task:</h1>
  <label>
    Title: <br/>
    <input type='text' name='task[title]'/>
  </label>
  <label>
    Description: <br/>
    <textarea name='task[description]'></textarea>
  </label>
  <label>
    <input type='submit'/>
  </label>
</form>
